name: SILE

on: [ push, pull_request ]

jobs:

  sile:
    strategy:
      fail-fast: false
      matrix:
        sileVersion: [ "v0.15.5" ]
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/sile-typesetter/sile:${{ matrix.sileVersion }}
      options: --entrypoint=bash
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    # Danger alert! This partial upgrade scenario is explicitly *not* supported
    # by Arch Linux and *will* break at some point as the container ages. It
    # isn't needed when testing soon after a SILE release, and eventually will
    # stop working when any libraries SILE depends on get bumped. But it does
    # work to extend the life of the CI matrix between those two extreemes.
    - name: Refresh package database
      run: pacman --needed --noconfirm -Syq archlinux-keyring
    - name: Install dev dependencies
      run: pacman --noconfirm --needed -S luarocks make words
    - name: Build and install locally
      run: make install
    - name: Run test template
      run: ./lua_modules/bin/fontproof -t test -o test.pdf
    - name: Run gutenberg template
      run: ./lua_modules/bin/fontproof -t gutenberg -o gutenberg.pdf
    - name: Run unichar template
      run: ./lua_modules/bin/fontproof -t unichar -o unichar.pdf
    - name: Run full template
      run: ./lua_modules/bin/fontproof -t full -o full.pdf
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: fp-template-tests-${{ matrix.sileVersion }}.zip
        path: '*.pdf'
